$brand-primary: #2fcada;
$brand-danger: #ff7274;

$font-family-base: Helvetica Neue, Helvetica, Arial, sans-serif;
$text-color: #333;
$font-size-base: 16px;
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;