form {
  p {
    margin-bottom: .2rem;
  }

  input {
    width: 100%;
    border: solid #eee 1px;
    border-bottom-width: 2px;
    padding: 10px 15px;
    font-size: 1rem;

    &:focus {
      border-color: #ccc;
    }
  }

  .form-submit {
    margin-top: .5rem;

    .btn {
      width: 100%;
    }
  }

  .form-help {
    margin-top: .5rem;
    margin-bottom: 1rem;
    text-align: center;
    @include font-size(12px);
  }

  .bottom-cta {
    text-align: center;
    font-weight: bold;
    margin-top: 1rem;
    @include font-size(18px);
  }
}